# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
df = pd.read_csv('census_data.csv')

In [3]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
df['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
df['income_bracket'] = df['income_bracket'].apply(lambda x: 1 if x == ' >50K' else 0)

In [6]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('income_bracket', axis=1),
                                                    df['income_bracket'],
                                                    test_size=0.3,
                                                    random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [9]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [10]:
df['gender'].unique()

array([' Male', ' Female'], dtype=object)

In [11]:
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
race = tf.feature_column.categorical_column_with_hash_bucket("race", hash_bucket_size=1000)
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [12]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [13]:
feature_columns = [workclass, education, marital_status, occupation, relationship, race, gender,
                   native_country, age, education_num, capital_gain, capital_loss, hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [14]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,
                                                 y=y_train,
                                                 batch_size=10,
                                                 num_epochs=1000,
                                                 shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [15]:
linear_model = tf.estimator.LinearClassifier(feature_columns=feature_columns,
                                             n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\JUANCR~1\AppData\Local\Temp\tmpr_y7vf03
INFO:tensorflow:Using config: {'_tf_random_seed': None, '_keep_checkpoint_every_n_hours': 10000, '_is_chief': True, '_train_distribute': None, '_global_id_in_cluster': 0, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_save_summary_steps': 100, '_model_dir': 'C:\\Users\\JUANCR~1\\AppData\\Local\\Temp\\tmpr_y7vf03', '_keep_checkpoint_max': 5, '_device_fn': None, '_master': '', '_protocol': None, '_evaluation_master': '', '_experimental_distribute': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002358684F400>, '_session_creation_timeout_secs': 7200, '_log_step_count_steps': 100, '_num_ps_replicas': 0, '_service': None, '_num_worker_replicas': 1, '_experimental_max_worker_delay_secs': None, '_eval_distribute': None, '_task_type': 'worker', '_task_id': 0, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None}

** Train your model on the data, for at least 5000 steps. **

In [16]:
linear_model.train(input_fn=input_func,steps=5000)

WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:305: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_core\python\ops\embedding_ops.py:802: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:308: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\Juan Cruz\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow_core\python\training\monitored_session.py:882: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\JUANCR~1\AppData\Local\Temp\tmpr_y7vf03\model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 179.954
INFO:tensorflow:loss = 4.6286497, step = 101 (0.559 sec)
INFO:tensorflow:global_step/sec: 361.239
INFO:tensorflow:loss = 2.0358217, step = 201 (0.279 sec)
INFO:tensorflow:global_step/sec: 405.091
INFO:tensorflow:loss = 6.1451173, step = 301 (0.245 sec)
INFO:tensorflow:global_step/sec: 398.635
INFO:tensorflow:loss = 4.04987, step = 401 (0.253 sec)
INFO:tensorflow:global_step/sec: 380.445
INFO:tensorflow:loss = 1.3201089, step = 501 (0.264 sec)
INFO:tensorflow:global_step/sec: 359.919
INFO:tensorflow:loss = 3.933557, step = 601 (0.274 sec)
INFO:tensorflow:global_step/sec: 395.482
INFO:tensorflow:loss = 27.794317, step = 701 (0.253 sec)
INFO:tensorflow:global_step/sec: 411.758
INFO:tensorflow:loss = 4.6091323, step = 801 (0.244 sec)
INFO:tensorflow:global_step/sec: 397.027
INFO:tensorflow:loss = 13.902646, step = 901 (0.251 sec)
INFO:tensorflow:global_step/sec: 349.87
INFO:tensorflow:loss = 2.411883, step = 1001 (0.291 sec)
INFO:tensorflow:global_step/sec: 383.361
INFO:tensorflow:loss = 17.124012, step = 1101 (0.257 sec)
INFO:tensorflow:global_step/sec: 386.991
INFO:tensorflow:loss = 5.9216137, step = 1201 (0.258 sec)
INFO:tensorflow:global_step/sec: 387.818
INFO:tensorflow:loss = 3.157556, step = 1301 (0.258 sec)
INFO:tensorflow:global_step/sec: 367.859
INFO:tensorflow:loss = 2.463398, step = 1401 (0.270 sec)
INFO:tensorflow:global_step/sec: 417.743
INFO:tensorflow:loss = 3.2142704, step = 1501 (0.242 sec)
INFO:tensorflow:global_step/sec: 366.511
INFO:tensorflow:loss = 1.3986962, step = 1601 (0.273 sec)
INFO:tensorflow:global_step/sec: 411.757
INFO:tensorflow:loss = 11.202725, step = 1701 (0.246 sec)
INFO:tensorflow:global_step/sec: 366.51
INFO:tensorflow:loss = 3.5957053, step = 1801 (0.270 sec)
INFO:tensorflow:global_step/sec: 357.346
INFO:tensorflow:loss = 2.2269807, step = 1901 (0.281 sec)
INFO:tensorflow:global_step/sec: 365.168
INFO:tensorflow:loss = 10.266611, step = 2001 (0.271 sec)
INFO:tensorflow:global_step/sec: 341.493
INFO:tensorflow:loss = 4.3374267, step = 2101 (0.294 sec)
INFO:tensorflow:global_step/sec: 401.835
INFO:tensorflow:loss = 3.548789, step = 2201 (0.249 sec)
INFO:tensorflow:global_step/sec: 401.815
INFO:tensorflow:loss = 18.690538, step = 2301 (0.252 sec)
INFO:tensorflow:global_step/sec: 358.628
INFO:tensorflow:loss = 28.162598, step = 2401 (0.275 sec)
INFO:tensorflow:global_step/sec: 383.382
INFO:tensorflow:loss = 27.570383, step = 2501 (0.262 sec)
INFO:tensorflow:global_step/sec: 383.336
INFO:tensorflow:loss = 221.73773, step = 2601 (0.266 sec)
INFO:tensorflow:global_step/sec: 376.157
INFO:tensorflow:loss = 8.592252, step = 2701 (0.266 sec)
INFO:tensorflow:global_step/sec: 348.643
INFO:tensorflow:loss = 3.5125356, step = 2801 (0.284 sec)
INFO:tensorflow:global_step/sec: 376.152
INFO:tensorflow:loss = 2.9933608, step = 2901 (0.265 sec)
INFO:tensorflow:global_step/sec: 378.512
INFO:tensorflow:loss = 7.100691, step = 3001 (0.268 sec)
INFO:tensorflow:global_step/sec: 363.882
INFO:tensorflow:loss = 9.053213, step = 3101 (0.270 sec)
INFO:tensorflow:global_step/sec: 386.321
INFO:tensorflow:loss = 0.9882963, step = 3201 (0.259 sec)
INFO:tensorflow:global_step/sec: 384.976
INFO:tensorflow:loss = 2.0912764, step = 3301 (0.260 sec)
INFO:tensorflow:global_step/sec: 408.473
INFO:tensorflow:loss = 18.232609, step = 3401 (0.247 sec)
INFO:tensorflow:global_step/sec: 365.125
INFO:tensorflow:loss = 6.5840592, step = 3501 (0.272 sec)
INFO:tensorflow:global_step/sec: 351.078
INFO:tensorflow:loss = 0.07938253, step = 3601 (0.284 sec)
INFO:tensorflow:global_step/sec: 406.737
INFO:tensorflow:loss = 1.7685124, step = 3701 (0.247 sec)
INFO:tensorflow:global_step/sec: 405.092
INFO:tensorflow:loss = 23.492807, step = 3801 (0.248 sec)
INFO:tensorflow:global_step/sec: 392.351
INFO:tensorflow:loss = 0.80766696, step = 3901 (0.254 sec)
INFO:tensorflow:global_step/sec: 380.467
INFO:tensorflow:loss = 9.520835, step = 4001 (0.265 sec)
INFO:tensorflow:global_step/sec: 413.456
INFO:tensorflow:loss = 18.56842, step = 4101 (0.242 sec)
INFO:tensorflow:global_step/sec: 403.459
INFO:tensorflow:loss = 2.2000906, step = 4201 (0.246 sec)
INFO:tensorflow:global_step/sec: 402.985
INFO:tensorflow:loss = 2.8391628, step = 4301 (0.248 sec)
INFO:tensorflow:global_step/sec: 343.657
INFO:tensorflow:loss = 3.0708387, step = 4401 (0.293 sec)
INFO:tensorflow:global_step/sec: 405.485
INFO:tensorflow:loss = 10.688456, step = 4501 (0.244 sec)
INFO:tensorflow:global_step/sec: 393.926
INFO:tensorflow:loss = 0.20279446, step = 4601 (0.255 sec)
INFO:tensorflow:global_step/sec: 390.85
INFO:tensorflow:loss = 16.34652, step = 4701 (0.257 sec)
INFO:tensorflow:global_step/sec: 369.214
INFO:tensorflow:loss = 2.4151826, step = 4801 (0.270 sec)
INFO:tensorflow:global_step/sec: 400.229
INFO:tensorflow:loss = 79.12916, step = 4901 (0.250 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\JUANCR~1\AppData\Local\Temp\tmpr_y7vf03\model.ckpt.

INFO:tensorflow:Loss for final step: 49.59072.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [17]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,
                                                      batch_size=10,
                                                      num_epochs=1,
                                                      shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [18]:
pred_gen = linear_model.predict(pred_input_func)
predictions = list(pred_gen)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\JUANCR~1\AppData\Local\Temp\tmpr_y7vf03\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [19]:
predictions[0]

{'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.25838894], dtype=float32),
 'logits': array([-1.054359], dtype=float32),
 'probabilities': array([0.74161106, 0.25838894], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [20]:
y_pred = []
for pred in predictions:
    y_pred.append(pred['class_ids'][0])

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [21]:
from sklearn.metrics import classification_report

In [22]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.91      0.85      0.88      7436
          1       0.61      0.73      0.66      2333

avg / total       0.84      0.82      0.83      9769

# Great Job!